ol.progtrckr {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  height: 24px;
}
ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 3em;
  position: relative;
}
ol.progtrckr[data-progtrckr-steps="2"] li {
  width: 49%;
}
ol.progtrckr[data-progtrckr-steps="3"] li {
  width: 33%;
}
ol.progtrckr[data-progtrckr-steps="4"] li {
  width: 24%;
}
ol.progtrckr[data-progtrckr-steps="5"] li {
  width: 19%;
}
ol.progtrckr[data-progtrckr-steps="6"] li {
  width: 16%;
}
ol.progtrckr[data-progtrckr-steps="7"] li {
  width: 14%;
}
ol.progtrckr[data-progtrckr-steps="8"] li {
  width: 12%;
}
ol.progtrckr[data-progtrckr-steps="9"] li {
  width: 11%;
}
ol.progtrckr li.progtrckr-error {
  color: black;
}
ol.progtrckr li.progtrckr-done {
  color: black;
}
ol.progtrckr li.progtrckr-doing {
  color: black;
}
ol.progtrckr li.progtrckr-warn {
  color: black;
}
ol.progtrckr li.progtrckr-todo {
  color: silver;
}
div#overthebox_status_bar {
  margin-top: 70px;
  margin-bottom: 20px;
}
div.progtrckr-link-left {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 50%;
  height: 50%;
  border-bottom: 2px solid #333333;
  z-index: -10;
}
div.progtrckr-link-right {
  position: absolute;
  top: 0;
  left: 50%;
  float: right;
  width: 50%;
  height: 50%;
  border-bottom: 2px solid #333333;
  z-index: -10;
}
div.progtrckr-status-node {
  position: relative;
  height: 24px;
  width: 24px;
  line-height: 1.2em;
  border: none;
  border-radius: 1.2em;
  margin: 0 auto;
  min-witdh: 24px;
}
div.progtrckr-status-node.error {
  color: black;
  background-color: #e55712;
}
div.progtrckr-status-node.done {
  color: black;
  background-color: #1cc82c;
}
div.progtrckr-status-node.doing {
  color: black;
  background-color: #33acff;
}
div.progtrckr-status-node.warn {
  color: black;
  background-color: #eb9e10;
}
div.progtrckr-status-node.todo {
  color: black;
  background-color: #33acff;
}
ol.progtrckr li:last-child div.progtrckr-link-right {
  display: none;
}
ol.progtrckr li:first-child div.progtrckr-link-left {
  display: none;
}
