h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}
h1 {
  font-size: 36px;
  font-weight: 400;
}
h2,
.cbi-section legend {
  border-bottom: 2px solid #33acff;
  padding-bottom: 8px;
  margin-top: 0px;
  font-size: 24px;
  font-weight: 300;
}
table tr td:first-child {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.clear {
  clear: both;
}
.btn,
.cbi-button {
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: #33acff;
  background-repeat: no-repeat;
  background-image: none;
  padding: 5px 14px 6px;
  text-shadow: 0px 0px 0px #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn:hover,
.cbi-button:hover {
  color: #333;
  text-decoration: none;
}
.btn:focus,
.cbi-button:focus {
  outline: 1px dotted #666;
}
.btn.primary,
.cbi-page-actions .cbi-button-apply,
.cbi-page-actions .cbi-button-save,
.cbi-page-actions .cbi-button-reset {
  color: #ffffff;
  padding: 5px 14px 6px;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: none;
}
.cbi-input-invalid,
.cbi-value-error input {
  color: #FF0000;
  border-color: #FF0000;
}
.cbi-button-up,
.cbi-input-up {
  background-image: none;
}
.cbi-button-down,
.cbi-input-down {
  background-image: none;
}
.cbi-button-find,
.cbi-input-find {
  background-image: none;
}
.cbi-button-add,
.cbi-input-add {
  background-image: none;
}
.cbi-button-apply,
.cbi-input-apply {
  background-image: none;
}
.cbi-button-reset,
.cbi-input-reset {
  background-image: none;
}
.cbi-button-edit,
.cbi-input-edit {
  background-image: none;
}
.cbi-button-remove,
.cbi-input-remove {
  background-image: none;
}
.cbi-button-reload,
.cbi-input-reload {
  background-image: none;
}
.cbi-button-link,
.cbi-input-link {
  background-image: none;
}
.cbi-button-download,
.cbi-input-download {
  background-image: none;
}
.svg-graph {
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background-color: #FFFFFF;
}
