h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}
h1 {
  font-size: 36px;
  font-weight: 400;
}
h2,
.cbi-section legend {
  border-bottom: 2px solid #33acff;
  padding-bottom: 8px;
  margin-top: 0px;
  font-size: 24px;
  font-weight: 300;
}
table.description-value tr td:first-child {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.btn,
.cbi-button {
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: #33acff;
  background-repeat: no-repeat;
  background-image: none;
  padding: 5px 14px 6px;
  text-shadow: 0px 0px 0px #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn:hover,
.cbi-button:hover {
  color: #333;
  text-decoration: none;
}
.btn:focus,
.cbi-button:focus {
  outline: 1px dotted #666;
}
.btn.primary,
.cbi-page-actions .cbi-button-apply,
.cbi-page-actions .cbi-button-save,
.cbi-page-actions .cbi-button-reset {
  color: #ffffff;
  padding: 5px 14px 6px;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: none;
}
.cbi-input-invalid,
.cbi-value-error input {
  color: #FF0000;
  border-color: #FF0000;
}
.cbi-button-up,
.cbi-input-up {
  background-image: none;
}
.cbi-button-down,
.cbi-input-down {
  background-image: none;
}
.cbi-button-find,
.cbi-input-find {
  background-image: none;
}
.cbi-button-add,
.cbi-input-add {
  background-image: none;
}
.cbi-button-apply,
.cbi-input-apply {
  background-image: none;
}
.cbi-button-reset,
.cbi-input-reset {
  background-image: none;
}
.cbi-button-edit,
.cbi-input-edit {
  background-image: none;
}
.cbi-button-remove,
.cbi-input-remove {
  background-image: none;
}
.cbi-button-reload,
.cbi-input-reload {
  background-image: none;
}
.cbi-button-link,
.cbi-input-link {
  background-image: none;
}
.cbi-button-download,
.cbi-input-download {
  background-image: none;
}
.svg-graph {
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background-color: #FFFFFF;
}
.clear {
  clear: both;
}
.graph-section {
  position: relative;
  padding-top: 10px;
}
.graph-section .title {
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: black;
  margin-bottom: 25px;
}
.graph-section .graph-main {
  display: block;
  width: 100%;
}
.graph-section .graph-main {
  clear: both;
}
.graph-section .graph-main .graph-y-axis-info {
  position: relative;
  float: left;
  width: 10%;
  text-align: right;
}
.graph-section .graph-main .graph-y-axis-info .big-unit {
  font-size: 12px;
  color: #333333;
}
.graph-section .graph-main .graph-y-axis-info .small-unit {
  font-size: 10px;
  color: #757575;
}
.graph-section .graph-main .graph-y-axis-info .label-25 {
  position: absolute;
  right: 0;
  top: 70%;
  padding-right: 15px;
}
.graph-section .graph-main .graph-y-axis-info .label-50 {
  position: absolute;
  right: 0;
  top: 45%;
  padding-right: 15px;
}
.graph-section .graph-main .graph-y-axis-info .label-75 {
  position: absolute;
  right: 0;
  top: 20%;
  padding-right: 15px;
}
.graph-section .graph-main .graph-visual {
  position: relative;
  float: right;
  width: 90%;
}
.graph-section .graph-main .graph-visual .graph-time-scale {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  text-align: left;
}
.graph-section .graph-main .graph-x-axis-info {
  position: relative;
  float: right;
  width: 90%;
  min-height: 12px;
  height: 12px;
}
.graph-section .graph-footer {
  position: relative;
  float: right;
  width: 90%;
  text-align: left;
}
.graph-section .graph-footer .value {
  padding-left: 5px;
}
.description {
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}
.value {
  font-size: 10px;
  color: #757575;
  font-weight: 400;
}
.deviceChoice {
  height: 35px;
  padding: 15px 0 20px 0;
  display: block;
  position: relative;
  width: 400px;
}
.deviceChoice div.description {
  text-align: left;
  padding-right: 15px;
  position: relative;
  top: 9px;
  width: 150px;
  display: inline;
}
.ovh-select select {
  display: inline;
  background: transparent;
  width: 268px;
  padding: 5px;
  line-height: 12px;
  border: 0;
  border-radius: 0;
  height: 30px;
  -webkit-appearance: none;
}
.ovh-select {
  display: inline;
  width: 240px;
  height: 30px;
  overflow: hidden;
  background: url(../images/ArrowDown.png) no-repeat right white;
  border: 2px solid black;
  border-radius: 4px;
}
