.container {
  /* container for entire page. fixes bootstrap theme's ridiculously small page width */
  max-width: 1044px;
}
#interface_field {
  padding: 12px 20px 20px 20px;
}
#mwan_status_text {
  display: table;
  font-size: 14px;
  margin: auto;
  max-width: 1044px;
  min-width: 246px;
  width: 100%;
}
.wanon {
  background-color: #1cc82c;
}
.wanoff {
  background-color: #e55712;
}
.wanon,
.wanoff {
  border-radius: 60px;
  box-shadow: 0px 2px 5px -3px;
  float: left;
  margin: 8px 3px 0px 3px;
  min-height: 30px;
  min-width: 235px;
  padding: 5px 10px 8px 10px;
  text-align: center;
}
