version: 2
jobs:
  build:
    machine: true

    environment:
      - OTB_VERSION: v3.10
      - OTB_TARGET: rpi3

    working_directory: ~/

    steps:
      - run:
          name: Prepare
          command: |
            sudo apt-get update
            sudo apt-get install -yq build-essential git unzip ncurses-dev libz-dev libssl-dev python subversion gettext gawk wget curl rsync perl
            echo "cache 2 $OTB_TARGET" > /tmp/cache-target
            echo "cache 5 $OTB_TARGET $OTB_VERSION" > /tmp/cache-version

      - restore_cache:
          keys:
            - cache-{{ checksum "/tmp/cache-version" }}
            - cache-{{ checksum "/tmp/cache-target" }}

      - run:
          name: Build toolchain
          no_output_timeout: 30m
          command: |
            git clone https://github.com/ovh/overthebox || true
            cd overthebox
            git fetch && git fetch --tags && git reset --hard $OTB_VERSION
            export OTB_PATH="$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/${CIRCLE_BRANCH:-$CIRCLE_TAG}"
            export OTB_FEED_URL="$CIRCLE_REPOSITORY_URL"
            export OTB_FEED_SRC="${CIRCLE_BRANCH:-$CIRCLE_TAG}"
            sh build.sh prepare {tools,toolchain}/install -j2

      - save_cache:
          key: cache-{{ checksum "/tmp/cache-target" }}
          paths:
            - overthebox

      - run:
          name: Build
          no_output_timeout: 30m
          command: make -C ~/overthebox/source package/{compile,install,index} target/install -j2

      - run:
          name: Deploy
          command: |
            OTB_PATH="$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/${CIRCLE_BRANCH:-$CIRCLE_TAG}"
            ssh -p ${OTB_RSYNC_PORT:-22} deploy@$OTB_HOST mkdir -p deploy/$OTB_PATH || true
            rsync -av --delete-after -e "ssh -q -p ${OTB_RSYNC_PORT:-22}" ~/overthebox/source/bin/ deploy@$OTB_HOST:deploy/$OTB_PATH/ || true
            rm -rf ~/overthebox/source/bin

      - save_cache:
          key: cache-{{ checksum "/tmp/cache-version" }}
          paths:
            - overthebox
