.otb-details {
    margin: 1.2rem 0;
}

.otb-summary {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #0069ff;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.otb-summary:hover {
    color: #FFF;
}

.otb-summary::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.otb-details[open] .otb-summary::before {
    transform: rotate(90deg) translateX(-3px);
}

h1 {
    border-bottom: 2px solid #59d2ef;
    padding-bottom: 6px;
    font-size: 40px;
    letter-spacing: -0.28px;
    line-height: 55px;
    margin-bottom: 15px;
}

h2 {
    padding-top: 30px;
    border-bottom: 2px dotted #59d2ef;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 300;
}

table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left;
}
