button.switch-button.wan {
    background-color: #599bb3;
    border: 1px solid #29668f;
    text-shadow: 0px 1px 0px #3d768a;
    color: #fff;
}

button.switch-button.wan:hover {
    background-color: #408c99;
}

button.switch-button.tagged {
    background-color: #b2b8ad;
    border: 1px solid #b2b8ad;
    color: #fff;
}

button.switch-button.tagged:hover {
    background-color: #757575;
}

button.switch-button {
    background-color: #dbe6c4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #b2b8ad;
    display: inline-block;
    cursor: pointer;
    color: #757d6f;
    font-family: Arial;
    font-size: 10px;
    width: 45px;
    height: 45px;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ced9bf;
    margin: 2px;
}

button.switch-button:hover {
    background-color: #9ba892;
}

button.switch-button:active {
    position: relative;
    top: 1px;
}

div.switch {
    margin-bottom: 30px;
}

div.portGroup {
    display: inline-block;
    margin-right: 25px;
}

div.portLine {
    height: 55px;
}

button.switch-button div.type {
    text-transform: uppercase;
}
button.cbi-button {
    margin: 2px;
}