.legend_square
{
    float: left;
    width: 15px;
    height: 15px;
    margin: auto 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

a.toggle-link
{
    cursor: pointer;
}

#bitbytelink
{
    float: right;
    font-size: 12px;
}

#bitbytelink > a
{
    font-weight: bold;
}
