/*
@import '../ovh-common-style/less/helpers.less';
@import '../ovh-common-style/less/animation.less';
@import '../ovh-common-style/less/table.less';
@import '../ovh-common-style/less/datepicker-ui.less';
@import '../ovh-common-style/less/spinner/spinner.less';
*/
ol.progtrckr {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 3em;
}
ol.progtrckr[data-progtrckr-steps="2"] li {
  width: 49%;
}
ol.progtrckr[data-progtrckr-steps="3"] li {
  width: 33%;
}
ol.progtrckr[data-progtrckr-steps="4"] li {
  width: 24%;
}
ol.progtrckr[data-progtrckr-steps="5"] li {
  width: 19%;
}
ol.progtrckr[data-progtrckr-steps="6"] li {
  width: 16%;
}
ol.progtrckr[data-progtrckr-steps="7"] li {
  width: 14%;
}
ol.progtrckr[data-progtrckr-steps="8"] li {
  width: 12%;
}
ol.progtrckr[data-progtrckr-steps="9"] li {
  width: 11%;
}
ol.progtrckr li.progtrckr-error {
  color: black;
  border-bottom: 2px solid @color-primary;
}
ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 2px solid @color-primary;
}
ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 2px solid @color-primary;
}
ol.progtrckr li.progtrckr-warn {
  color: black;
  border-bottom: 2px solid @color-primary;
}
ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 2px solid @color-primary;
}
ol.progtrckr li:after {
  content: "\00a0\00a0";
}
ol.progtrckr li:before {
  position: relative;
  bottom: -2.5em;
  float: left;
  left: 50%;
  line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #1cc82c;
  height: 1.2em;
  width: 1.2em;
  line-height: 1.2em;
  border: none;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-doing:before {
  content: "\27F2";
  color: #333333;
  background-color: white;
  font-size: 1.5em;
  bottom: -1.6em;
  border: none;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-warn:before {
  content: "\26A0";
  color: #eb9e10;
  background-color: white;
  font-size: 1.5em;
  bottom: -1.6em;
  border: none;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: #33acff;
  background-color: white;
  font-size: 1.5em;
  bottom: -1.6em;
}
ol.progtrckr li.progtrckr-error:before {
  content: "\2716";
  color: #e55712;
  background-color: white;
  font-size: 1.5em;
  bottom: -1.6em;
  border: none;
  border-radius: 1.2em;
}
