.wanon {
  background-color: #1cc82c;
}
.wanoff {
  background-color: #1cc82c;
}
.wanwarn {
  background-color: #eb9e10;
}
.wanon,
.wanoff,
.wanwarn {
  border-radius: 60px;
  box-shadow: 0px 2px 5px -3px;
  float: left;
  margin: 8px 3px 0px 3px;
  min-height: 30px;
  min-width: 235px;
  padding: 5px 10px 8px 10px;
  text-align: center;
}
.dhcp_section_header {
  display: block;
}
.dhcp_section_header .status_title {
  position: relative;
  top: 6px;
  vertical-align: top;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 600;
}
.dhcp_section_header img {
  vertical-align: bottom;
  max-height: 24px;
  height: 24px;
  font-weight: bold;
}
.dhcp_section_subheader {
  display: block;
  font-size: 10px;
  margin-left: 24px;
}
.dhcp_section_server_content {
  font-size: 11px;
}
.dhcp_section_server_content input {
  text-align: center;
}
.dhcp_section_server_content .row {
  padding: 6px 0px;
}
.dhcp_section_server_content .buttonRow {
  margin: 0px auto;
}
.dhcp_server span.fieldDescription {
  color: #333333;
  margin-right: 6px;
}
.dhcp_server span.fieldValue {
  color: #757575;
}
.dhcp_server {
  display: inline-block;
  max-width: 240px;
  width: 240px;
  margin: 10px 9px 10px 38px;
  padding: 9px 15px;
  background-color: #f3f3f3;
}
