<%
-- Copyright 2015 OVH (OverTheBox@ovh.net)
-- Simon Lelievre (simon.lelievre@corp.ovh.com)
-- Sebastien Duponcheel (sebastien.duponcheel@ovh.net)
--
-- This file is part of OverTheBox for OpenWrt.
--
--    OverTheBox is free software: you can redistribute it and/or modify
--    it under the terms of the GNU General Public License as published by
--    the Free Software Foundation, either version 3 of the License, or
--    (at your option) any later version.
--
--    OverTheBox is distributed in the hope that it will be useful,
--    but WITHOUT ANY WARRANTY; without even the implied warranty of
--    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
--    GNU General Public License for more details.
--
--    You should have received a copy of the GNU General Public License
--    along with OverTheBox.  If not, see (http://www.gnu.org/licenses/)
-%>
<%
	local uci = require("luci.model.uci").cursor()

	local device_id = uci:get("overthebox", "me", "device_id")
	local service = uci:get("overthebox", "me", "service")
%>

<script type="text/javascript">//<![CDATA[
stepbar.activate.status = "warn";
var stxhr = new XHR();
var activating = false;
function activate_service(service)
{
	activating = true;
	var loader = document.getElementById('img-loader');
	if(loader)
		loader.style.display = 'block';

	stxhr.get('<%=luci.dispatcher.build_url("admin", "overthebox", "activate_service")%>/' + service, null,
		function(x)
		{	
			activating = false;
			if(loader)
				loader.style.display = 'none';
			// Force reload of page
			window.setTimeout(function() {
				location.href='<%=luci.dispatcher.build_url("admin/overthebox/overview")%>'
			}, 1000);
		}
	);
}

// Set 20s reload page timer
window.setTimeout(function()
	{ 
		if (activating == false)
			location.reload(true) 
	}, 20000)
//]]></script>

<h2><%:Activate service%>
		<img id="img-loader" style="display:none" src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" height="20" />
</h2>
<fieldset id="activate_button_field" class="cbi-section">
<!--	<legend><%:Activate service%></legend> -->
        <table width="100%" cellspacing="10">
		<tr><td width="33%"><%:Device ID%></td><td><%=device_id or translate("Registering your device, please wait...")%></td></tr>
		<tr><td width="33%"><%:Service name%></td><td><%=service or translate("Your service is being installed, please wait...")%></td></tr>
		<tr><td width="33%"><%:Help%></td>
			<td>
				<a href="https://docs.ovh.com/pages/releaseview.action?pageId=18123335#Mes10premièresminutesavecOverTheBox-Activate" target="_blank">
					<%:How to activate my service%>
				</a>
			</td>
		</tr>
        </table>
	<div id="activate_action_button" class="cbi-page-actions">
	<% if service then %>
		<input type="button" onclick="activate_service('<%=service%>')" value="<%:Activate%>" class="cbi-button cbi-button-apply" />
	<% else %>
		<input type="button" onclick="activate_service('<%=service%>')" value="<%:Please wait...%>" class="cbi-button" disabled="disabled" />
	<% end %>
	</div>
</fieldset>

