<%+header%>

<%
  local uci = require("luci.model.uci").cursor()
  local net = require "luci.model.network".init()

  local ifaces = net:get_interfaces()
%>

<link rel="stylesheet" type="text/css" href="<%=resource%>/ovh/css/overthebox_index.css">
<link rel="stylesheet" type="text/css" href="<%=resource%>/ovh/css/ovh-common.css">
<link rel="stylesheet" type="text/css" href="<%=resource%>/jquery-ui.min.css">
<script src="<%=resource%>/jquery-3.1.1.min.js"></script>
<script src="<%=resource%>/jquery-ui.min.js"></script>
<script src="<%=resource%>/js-cookie.js"></script>

<% if stderr and #stderr > 0 then %><pre class="error"><%=pcdata(stderr)%></pre><% end %>
<div id="interface" class="interface">
    <h1>Add a new interface</h1>
    <form class="inline" method="post" action="<%=url('admin/overthebox/new_interface')%>">
        <div class="cbi-value">
            <label class="cbi-value-title">Interface name : </label>
            <div class="cbi-value-field">
                <input type="string" name="interface_name" placeholder="Interface name">
                <input type="hidden" name="token" value="<%=token%>" />
            </div>
        </div>
        <div class="cbi-value"><label class="cbi-value-title">Protocol of the new interface</label>
          <div class="cbi-value-field">
            <select class="cbi-input-select" name="protocol" size="1">
              <option id="cbi-network-1-_netproto-dhcp" value="dhcp">DHCP client</option>
              <option id="cbi-network-1-_netproto-static" value="static">Static address</option>
            </select>
          </div>
        </div>
        <div class="cbi-value">
            <label class="cbi-value-title">Physical device : </label>
            <div class="cbi-value-field">
                <ul style="margin:0; list-style-type:none">
                    <% for _, iface in ipairs(ifaces) do
                         local link = iface:adminlink()
                           if (not iface:is_bridge())
                       then %>
                    <li>
                        <input class="cbi-input-radio%>" data-update="click change"<%=
                          attr("type", "radio") ..
                          attr("id", iface:name()) ..
                          attr("name", "device") .. attr("value", iface:name())
                        %> />
                            <label<%=attr("for", iface:name())%>></label>
                            &#160;
                            <label<%=attr("for", iface:name())%>>
                              <% if link then -%><a href="<%=link%>"><% end -%>
                              <img<%=attr("title", iface:get_i18n())%> style="width:16px; height:16px; vertical-align:middle" src="<%=resource%>/icons/<%=iface:type()%><%=iface:is_up() and "" or "_disabled"%>.png" />
                              <% if link then -%></a><% end -%>
                              <%=pcdata(iface:get_i18n())%>
                              <% local ns = iface:get_networks(); if #ns > 0 then %>(
                                <%- local i, n; for i, n in ipairs(ns) do -%>
                                  <%-= (i>1) and ', ' -%>
                                  <a href="<%=n:adminlink()%>"><%=n:name()%></a>
                                <%- end -%>
                              )<% end %>
                          </label>
                      </li>
                      <% end end %>
                      <li>
                          <input class="cbi-input-radio" data-update="click change"<%=
                            attr("type", "radio") ..
                            attr("id", "_custom") ..
                            attr("name", "device") ..
                            attr("value", " ")
                          %> />
                            <label<%=attr("for", "_custom")%>></label>
                          &#160;
                          <label<%=attr("for", "_custom")%>>
                            <img title="<%:Custom Interface%>" style="width:16px; height:16px; vertical-align:middle" src="<%=resource%>/icons/ethernet_disabled.png" />
                            <%:Custom Interface%>:
                          </label>
                          <input type="text" style="width:50px" onfocus="document.getElementById('_custom').checked=true" onblur="var x=document.getElementById('_custom'); x.value=this.value; x.checked=true" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="cbi-page-actions">
          <button class="btn" type="submit">Submit</button>
        </div>
    </form>
</div>
<%+footer%>
