<%#
 Copyright 2015 DUPONCHEEL Sebastien <sebastien.duponcheel@ovh.net>
-%>
<%
local fs  = require "nixio.fs"
local sys = require "luci.sys"
local uci = require "luci.model.uci".cursor()


local has_dhcpdiscovery = fs.access("/etc/config/dhcpdiscovery")
%>

<!-- begin of DHCP Wizard section -->
<% if has_dhcpdiscovery then %>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>

<script type="text/javascript">//<![CDATA[
	var stxhr = new XHR();

	var recheckTimeout = false;
	function recheck_dhpcserver()
	{
		// display a loading icon
		recheckTimeout = false;
		var s = document.getElementById('img-loader');
		if (s)
		{
			s.style.display = '';
		}
		// call backend
		var output = document.getElementById('dhcpserver_output');
		stxhr.get('<%=luci.dispatcher.build_url("admin", "overthebox", "dhcp_recheck")%>', null,
			function(x)
			{
				if (x.responseText)
				{
					output.innerHTML = x.responseText
				}
				else
				{
					output.innerHTML = "no return"
				}
                // clear out loading icon
                window.setTimeout(function() {
                    s.style.display = 'none';
                }, 1000);
			}
	 	);
	}

	function skiptimer()
	{
		// display a loading icon
		var s = document.getElementById('img-loader');
		if (s)
		{
			s.style.display = '';
		}
		// call backend
		var output = document.getElementById('dhcpserver_output');
		stxhr.get('<%=luci.dispatcher.build_url("admin", "overthebox", "dhcp_skiptimer")%>', null,
			function(x)
			{
				if (x.responseText)
				{
					output.innerHTML = x.responseText
				}
				else
		                {
					output.innerHTML = "no return"
				}
				// clear out loading icon
				window.setTimeout(function() {
					s.style.display = 'none';
				}, 1000);
			}
		);
	}

	var startingDhcp = false;
	function start_dhpcserver()
	{
        // display a loading icon
        startingDhcp = true;
        var s = document.getElementById('img-loader');
        if (s)
        {
            s.style.display = '';
        }
        // call backend
		var output = document.getElementById('dhcpserver_output');
		stxhr.get('<%=luci.dispatcher.build_url("admin", "overthebox", "dhcp_start_server")%>', null,
			function(x)
			{
                if (x.responseText)
                {
                    output.innerHTML = x.responseText
                }
                else
                {
                    output.innerHTML = "no return"
                }
                // clear out loading icon
                window.setTimeout(function() {
                    s.style.display = 'none';
                }, 1000);
			}
	 	);
	}

	XHR.poll(3, '<%=luci.dispatcher.build_url("admin", "overthebox", "dhcp_status")%>', null,
        function(x, mArray)
        {
            var status = document.getElementById('dhcpserver_status_text');

/*
{"detected_dhcp_servers":

{"if0":{".name":"if0","opt53":"05","lastcheck":"1442506044","mask":"24","ip":"192.168.1.67","subnet":"255.255.255.0","interface":"if0",".type":"lease","dns":"91.121.161.184 188.165.197.144","domain":"lan","INTERFACE":"if0","IFACE6RD_DELEGATE":"0","router":"192.168.1.254",".anonymous":false,"timestamp":"1442506008","lease":"86400",".index":0}},

"running_dhcp_service":

{"lan":{".name":"lan",".anonymous":false,"ipaddr":"192.168.0.20","ignore":"0","dhcp_option":"option:router,192.168.0.20 option:dns-server,192.168.0.20",".index":3,"limit":"200","leasetime":"12h","start":"50","force":"1",".type":"dhcp","interface":"lan"}}}
*/

		if (mArray.running_dhcp_service)
		{
						
		}

		if (mArray.detected_dhcp_servers)
		{
			var dhcp_wizard = document.getElementById('dhcp_wizard');
			dhcp_wizard.innerHTML = '';

			for (var intf in mArray.detected_dhcp_servers)
			{
				var lastlease = mArray.detected_dhcp_servers[intf].timestamp;
				var lastcheck = mArray.detected_dhcp_servers[intf].lastcheck;
				var timestamp = Date.now() / 1000;
				var timeout   = 30;

				if( lastlease )
				{
					var ipAddr = mArray.detected_dhcp_servers[intf].siaddr || mArray.detected_dhcp_servers[intf].serverid || mArray.detected_dhcp_servers[intf].router;
					if( lastcheck )
					{
						if( lastlease >= lastcheck ) // The DHCP server still running
						{
							if (stepbar)
								stepbar.remoteDhcp.status = "error";
							var html = '<fieldset id="activate_button_field" class="cbi-section">';
							html += '<legend style="color: red;"><%:DHCP server still active%></legend>';
							html += '<table width="100%" cellspacing="10">'
							html += '<tr><td width="33%"><%:IP Address%></td><td><a href="http://'+ ipAddr + '" target="_blank">' + ipAddr + '</a></td></tr>';
							html += '<tr><td width="33%"><%:Leased router%></td><td>' + router + '</td></tr>';
							html += '<tr><td width="33%"><%:Help%></td><td><a href="http://guides.ovh.net/overthebox/DesactivateDhcp" target="_blank"><%:How to disable DHCP%></a></td></tr>';
							html += '</table>';
							html += '<div id="dhcp_recheck_button" class="cbi-page-actions">';
							html += '<input type="button" onclick="recheck_dhpcserver()" value="<%:Recheck%>" class="cbi-button cbi-button-apply" />';
							html += '</div>';
							html += '</fieldset>';
							dhcp_wizard.innerHTML = html;
						}
					else
						{
							if( timestamp - lastcheck > timeout ) // The DHCP server is timedout (30 sec)
							{
								if( intf != 'if0') // if we detect a dhcp server on if0 is that we already know this router
								{
									if (stepbar)
										stepbar.remoteDhcp.status = "done";
			                                                var html = '<fieldset id="activate_button_field" class="cbi-section">';
			                                                html += '<legend><%:Remote DHCP is disabled%></legend>';
			                                                html += '<table width="100%" cellspacing="10">';
									html += '<tr><td width="33%"><%:What to do%></td><td><%:Click on the button to takeover%></td></tr>';
			                                                html += '</table>';
		        	                                        html += '<div id="dhcp_recheck_button" class="cbi-page-actions">';
		                	                                html += '<input type="button" onclick="start_dhpcserver()" value="<%:Start DHCP server%>" class="cbi-button cbi-button-apply" />';
		                        	                        html += '</div>';
		                                	                html += '</fieldset>';
									dhcp_wizard.innerHTML = html;
								}
							}
							else // DHCP has not answered yet
							{
								if (stepbar)
									stepbar.remoteDhcp.status = "doing";
								var html = '<fieldset id="activate_button_field" class="cbi-section">';
								html += '<legend><%:Checking for active DHCP...%></legend>';
								html += '<table width="100%" cellspacing="10">';
								html += '<tr><td><%:Please wait%> ' + Math.round(timeout - (timestamp - lastcheck)) + ' <%:seconds%></td></tr>';
		                                                html += '</table>';
		                                                html += '<div id="dhcp_recheck_button" class="cbi-page-actions">';
		                                                html += '<input type="button" onclick="skiptimer()" value="<%:Skip%>" class="cbi-button cbi-button-apply" />';
		                                                html += '</div>';
		                                                html += '</fieldset>';
								dhcp_wizard.innerHTML = html;
							}
						}

					}
					else // A DHCP has been found, and we do not press the buton yet
					{
						if (stepbar)
							 stepbar.remoteDhcp.status = "warn";
						var html = '<fieldset id="activate_button_field" class="cbi-section">';
						html += '<legend style="color: red;"><%:Active DHCP found on your network%></legend>';
		                                html += '<table width="100%" cellspacing="10">';
						html += '<tr><td width="33%"><%:IP Address%></td><td><a href="http://"'+ ipAddr +'" target="_blank>' + ipAddr + '</a></td></tr>';
						html += '<tr><td width="33%"><%:Leased router%></td><td>' + router + '</td></tr>';
						html += '<tr><td width="33%"><%:Help%></td><td><a href="http://guides.ovh.net/overthebox/DesactivateDhcp" target="_blank"><%:How to disable DHCP%></a></td></tr>';
		                                html += '</table>';
		                                html += '<div id="dhcp_recheck_button" class="cbi-page-actions">';
						html += '<input type="button" onclick="recheck_dhpcserver()" value="<%:Recheck%>" class="cbi-button cbi-button-apply" />';
		                                html += '</div>';
		                                html += '</fieldset>';
						dhcp_wizard.innerHTML = html;
					}
				}
                        }
			if (stepbar && stepbar.remoteDhcp.status == 'todo') // No Alien DHCP Server found
				stepbar.remoteDhcp.status = "done"
		}
        }
	);

//]]></script>

<fieldset class="cbi-section">
<!--        <legend><%:Scanning for DHCP servers on your network%></legend> -->
	<div id="dhcp_wizard"></div>
</fieldset>
<!-- end of DHCP Wizard section -->
<% end %>
