<%+cbi/valueheader%>
<script type="text/javascript">//<![CDATA[
	function dscp_reset(btn)
	{
		btn.disabled = true;
		btn.value    = '<%:Resetting...%>';

		(new XHR()).post('<%=url('admin/overthebox/dscp_reset')%>',
			{ token: '<%=token%>' },
			function()
			{
				btn.disabled = false;
				window.location.reload();
			}
		);

		return false;
	}
//]]></script>

<input type="button" class="cbi-button cbi-button-apply" value="<%:Reset DSCP values%>" onclick="return dscp_reset(this)" />

<%+cbi/valuefooter%>
