<%#
 Copyright 2015 DUPONCHEEL Sebastien <sebastien.duponcheel@ovh.net>
-%>
<%
	local uci = require("luci.model.uci").cursor()

	local device_id		= uci:get("overthebox", "me", "device_id")
	local service_id	= uci:get("overthebox", "me", "service")
	local has_service_confirmation = false
	if uci:get("overthebox", "me", "askserviceconfirmation") == "1" then
		has_service_confirmation = true
	end
%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/seedrandom.js"></script>
<script src="<%=resource%>/jquery-1.11.3.min.js"></script>
<script src="<%=resource%>/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('[data-toggle="popover"]').popover();
	});
</script>

<script type="text/javascript">//<![CDATA[
	/* Over_The_Box Step bar */
	var stepbar = {
		register:	{ status: 'todo', caption: "<%:Register%>" },
		activate:	{ status: 'todo', caption: "<%:Activate%>" },
		dhcp:		{ status: 'todo', caption: "<%:OverTheBox DHCP%>" },
		remoteDhcp:	{ status: 'todo', caption: "<%:Gateways DHCP%>" },
		securedNetwork:	{ status: 'todo', caption: "<%:Secured Network%>" },
	}
	function refreshStepBar()
	{
		var status = document.getElementById('overthebox_status_bar');
		if(status)
		{
			var nstep  = Object.keys(stepbar).length;
			var html = '<ol class="progtrckr" data-progtrckr-steps="'+ nstep +'">'
			for (stepname in stepbar) {
				html += String.format('' +
						'<li class="progtrckr-%s">' +
						'<div class="progtrckr-link-left"></div>' +
						'<div class="progtrckr-link-right"></div>' +
						'<a href="#" data-toggle="popover">' +
						'<div class="progtrckr-status-node %s"></div>' +
						'<div class="status" style="display: none">%s</div>' +
						'<div class="caption" style="display: none">%s</div>' +
						'</a>' +
						'</li></a>',
						stepbar[stepname].status, stepbar[stepname].status,
						stepbar[stepname].status, stepbar[stepname].caption
				)
			}
			html += '</ol>';
			status.innerHTML = html;

			/* Recreate popup over node and open them */
			$('[data-toggle="popover"]').popover({
				placement : 'top',
				html: true,
				trigger: 'manual',
				content: function() {
					var status = $(this).find("div.status").html();
					var caption = $(this).find("div.caption").html();
					var content = $('#overthebox_popover_content_' + status);
					var popoverContentText = content.find('span.popover_text').html(caption);
					return content.html();
				}
			}).click(function() {
				$(this).popover('toggle');
			}).click();
		}
	}
	window.setInterval("refreshStepBar()", 1000);

	function stringToColour(str) {

		if(str == "free1")
			return "BlueViolet";
		if(str == "ovh1")
			return "DeepSkyBlue";
		if(str == "ovh2")
			return "LightGreen";

	        if(str == "if1")
			return "PowderBlue";
	        if(str == "if2")
			return "PaleGreen";
		if(str == "if3")
			return "BlueViolet";
		if(str == "if4")
			return "SeaGreen";
		if(str == "if5")
			return "SteelBlue";
		if(str == "if6")
			return "SlateBlue";
		if(str == "if7")
			return "PaleTurquoise";
		if(str == "if8")
			return "YellowGreen";

	        // Generate a color folowing the name
	        Math.seedrandom(str);
	        var rand = Math.random() * Math.pow(255,3);
	        Math.seedrandom(); // don't leave a non-random seed in the generator
	        for (var i = 0, colour = "#"; i < 3; colour += ("00" + ((rand >> i++ * 8) & 0xFF).toString(16)).slice(-2));
	        return colour;
	}
//]]></script>

<link rel="stylesheet" type="text/css" href="<%=resource%>/ovh/css/ovh-common.css">
<link rel="stylesheet" type="text/css" href="<%=resource%>/ovh/css/overthebox_index.css">

<!-- Display the general status bar -->
<h1><%:OverTheBox overview%></h1>
<h2><%:Activation status%></h2>
<div id="overthebox_status_bar"></div>

<div id="overthebox_popover_content_error" class="overthebox_popover_content" style="display: none">
        <img src="<%=resource%>/ovh/images/statusError.png" alt="error">
        <span class="popover_text"></span>
</div>
<div id="overthebox_popover_content_done" class="overthebox_popover_content" style="display: none">
        <img src="<%=resource%>/ovh/images/statusOK.png" alt="done">
        <span class="popover_text"></span>
</div>
<div id="overthebox_popover_content_warn" class="overthebox_popover_content" style="display: none">
        <img src="<%=resource%>/ovh/images/statusWarning.png" alt="warning">
        <span class="popover_text"></span>
</div>
<div id="overthebox_popover_content_doing" class="overthebox_popover_content" style="display: none">
        <img src="<%=resource%>/ovh/images/doingBlue.png" alt="doing">
        <span class="popover_text"></span>
</div>
<div id="overthebox_popover_content_todo" class="overthebox_popover_content" style="display: none">
        <img src="<%=resource%>/ovh/images/doingBlack.png" alt="todo">
        <span class="popover_text"></span>
</div>

<%
if not service_id then
	include("overthebox/register")
elseif has_service_confirmation then
	%>
	<script type="text/javascript">
		stepbar.register.status = "done";
		stepbar.activate.status = "warn";
	</script>
	<%
	include("overthebox/activate")
else
	%>
		<fieldset class="cbi-section">
		<!--	<legend><%:OverTheBox overview%></legend> -->
			<table width="100%" cellspacing="10">
				<tr><td width="33%"><%:Device ID%></td><td><%=device_id or "?"%></td></tr>
				<% if service_id then %>
				<tr><td width="33%"><%:Service name%></td><td><%=service_id or "?"%></td></tr>
				<% end %>
			</table>
		</fieldset>
	<%
	if device_id and service_id then
	%>
		<script type="text/javascript">
			stepbar.activate.status = "done";
			stepbar.register.status = "done";
		</script>
	<%
		include("overthebox/dhcpwizard")
		include("overthebox/wanstatus")
		include("overthebox/realtimegraphs")
		include("overthebox/dhcpleases")
	else
        %>
                <script type="text/javascript">
			stepbar.activate.caption = "<%:Register%>";
			stepbar.activate.status = "error";
		</script>
        <%
	end
end
%>

<%+footer%>

