<%
-- Copyright 2015 OVH (OverTheBox@ovh.net)
-- Simon Lelievre (simon.lelievre@corp.ovh.com)
-- Sebastien Duponcheel (sebastien.duponcheel@ovh.net)
--
-- This file is part of OverTheBox for OpenWrt.
--
--    OverTheBox is free software: you can redistribute it and/or modify
--    it under the terms of the GNU General Public License as published by
--    the Free Software Foundation, either version 3 of the License, or
--    (at your option) any later version.
--
--    OverTheBox is distributed in the hope that it will be useful,
--    but WITHOUT ANY WARRANTY; without even the implied warranty of
--    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
--    GNU General Public License for more details.
--
--    You should have received a copy of the GNU General Public License
--    along with OverTheBox.  If not, see (http://www.gnu.org/licenses/)
-%>
<%
local sys = require "luci.sys"
local ip  = require "luci.ip"
local fs  = require "nixio.fs"

local has_rdisc6 = fs.access("/usr/bin/rdisc6")

local arpcache = { }
ip.neighbors({ family = 4 }, function(n)
	if n.mac and n.dest then arpcache[n.mac:upper()] = n.dest:string() end
end)
%>

<!-- begin of IPv6 Wizard section -->
<% if has_rdisc6 then %>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<link rel="stylesheet" type="text/css" href="<%=resource%>/ovh/css/dhcpwizard.css">

<script type="text/javascript">//<![CDATA[
	// IPv6 Wizard templates
	var IPv6SectionENUM = {
		CHECKING: 0,
		FOUND: 1,
	}

	var IPv6Section = function(title, icon){
		this.title = title;
		this.icon = icon;
	}

	function getIPv6Section(status)
	{
		var section = new IPv6Section("","","");
		switch(status){
			case  IPv6SectionENUM.CHECKING:
				section = new IPv6Section("<%:Checking for IPv6 advertisement%>", "<%=resource%>/ovh/images/status-doing.png");
				break;
			case  IPv6SectionENUM.FOUND:
				section = new IPv6Section("<%:Active IPv6 router found on your network%>", "<%=resource%>/ovh/images/statusWarning.png");
				break;
		}
		return section;
	}

	function getIPv6SectionTemplate(icon, title, content)
	{
		return	'<div class="dhcp_section">' +
			'<div class="dhcp_section_header">' +
			'<img src="' + icon + '" />' +
			'<span class="status_title">'+ title +'</span></div>' +
			'<div class="dhcp_section_server_content">' + content + '</div>' +
			'</div>';
	}

	/* Ajax */
	var stxhr = new XHR();
	var arptables = <%=luci.http.write_json(arpcache)%>;
	var displayedMac = {};
	function discover_ipv6()
	{
		stxhr.get('<%=luci.dispatcher.build_url("admin", "overthebox", "ipv6_discover")%>', null,
			function(x, mArray)
			{
				displayedMac = {};
				document.getElementById('ipv6_wizard').innerHTML = "";
				if (!mArray) {
					return;
				}
				if(typeof(mArray) === 'object' && Object.keys(mArray).length > 0)
				{
					mArray.forEach(displayIPv6)
				}
			}
		);
	}

	function recheck_ipv6()
	{
		var section = getIPv6Section(IPv6SectionENUM.CHECKING);
		var html = '<fieldset id="desactivate_dhcp_field" class="cbi-section">';
		html += getIPv6SectionTemplate(section.icon, section.title, 'Please wait... <img id="ipv6-img-loader" src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" height="20" />');
		html += '</fieldset>';
		document.getElementById('ipv6_wizard').innerHTML = html;
		return discover_ipv6();
	}

	function displayIPv6(adv)
	{

		var ipv6_wizard = document.getElementById('ipv6_wizard');

		var hasDns    = adv.RecursiveDnsServer;
		var hasRouter = adv.Prefix;

		var mac = adv.SourceLinkLayerAddress.toUpperCase();
		var ipAddr 	= arptables[mac]
		var ip6Addr 	= adv.from;

		var html = ipv6_wizard.innerHTML;

                if(displayedMac[mac] > 0)
                {
                        return false;
                }

		// build template
		var content = '';
		content += '<table width="100%" cellspacing="10">';
		content += String.format('<tr><td colspan="2"><strong style="color: orange;">%s</strong></td></tr>', "<%:This can cause network problems with some android systems, desactivate if you encounter issues with android%>")
		content += '<tr><td width="33%"><%:Mac Address%></td>';
		content += String.format('<td>%s</td></tr>', mac);
		content += '<tr><td width="33%"><%:IPv4 Address%></td>';
		content += String.format('<td><a href="http://%s">%s</a></td></tr>', ipAddr, ipAddr);
		if(typeof(ip6Addr) !== 'undefined')
		{
			content += '<tr><td width="33%"><%:IPv6 Address%></td>';
			content += String.format('<td><a href="http://[%s]">%s</a></td></tr>', ip6Addr, ip6Addr);

		}
		if(typeof(hasRouter) !== 'undefined')
		{
			content += '<tr><td width="33%"><%:Prefix%></td>';
			content += String.format('<td>%s</td></tr>', hasRouter);
		}
		if(typeof(hasDns) !== 'undefined')
		{
			content += '<tr><td width="33%"><%:DnsServer%></td>';
			 content += String.format('<td>%s</td></tr>', JSON.stringify(hasDns));
		}
		content += '<tr><td width="33%"><%:Help%></td><td><a href="http://docs.ovh.net" target="_blank"><%:How to disable IPv6%></a></td></tr>';
		content += '</table>';
		content += '<div id="dhcp_recheck_button" class="cbi-page-actions">';
		content += '<input type="button" onclick="recheck_ipv6()" value="<%:Recheck%>" class="cbi-button cbi-button-apply" />';
		content += '</div>';

		if (typeof(hasDns) !== 'undefined')
		{
			displayedMac[mac] = 1;
			var section = getIPv6Section(IPv6SectionENUM.FOUND);
			html += '<fieldset id="desactivate_dhcp_field" class="cbi-section">';
			html += getIPv6SectionTemplate(section.icon, section.title, content);
			html += '</fieldset>';
			ipv6_wizard.innerHTML = html;
		}
		else
		{
			if (typeof(hasRouter) !== 'undefined')
			{
				displayedMac[mac] = 1;
				var section = getIPv6Section(IPv6SectionENUM.FOUND);
				html += '<fieldset id="desactivate_dhcp_field" class="cbi-section">';
				html += getIPv6SectionTemplate(section.icon, section.title, content);
				html += '</fieldset>';
				ipv6_wizard.innerHTML = html;
			}
		}
	}

	window.setTimeout(discover_ipv6, 1000)

//]]></script>

<fieldset class="cbi-section">
	<div id="ipv6_wizard"></div>
</fieldset>
<!-- end of IPv6 Wizard section -->
<% end %>
