<%
-- Copyright 2016 OVH (OverTheBox@ovh.net)
-- Simon Lelievre (simon.lelievre@corp.ovh.com)
-- Sebastien Duponcheel (sebastien.duponcheel@ovh.net)
-- Martin Wetterwald (martin.wetterwald@corp.ovh.com)
--
-- This file is part of OverTheBox for OpenWrt.
--
--    OverTheBox is free software: you can redistribute it and/or modify
--    it under the terms of the GNU General Public License as published by
--    the Free Software Foundation, either version 3 of the License, or
--    (at your option) any later version.
--
--    OverTheBox is distributed in the hope that it will be useful,
--    but WITHOUT ANY WARRANTY; without even the implied warranty of
--    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
--    GNU General Public License for more details.
--
--    You should have received a copy of the GNU General Public License
--    along with OverTheBox.  If not, see (http://www.gnu.org/licenses/)
-%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript" src="<%=resource%>/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="<%=resource%>/bootstrap.min.js"></script>
<script type="text/javascript" src="<%=resource%>/seedrandom.js"></script>
<script type="text/javascript" src="<%=resource%>/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="<%=resource%>/jqplot.pieRenderer.min.js"></script>

<link rel="stylesheet" type="text/css" href="<%=resource%>/ovh/css/bandwidth.css" />
<link rel="stylesheet" type="text/css" href="<%=resource%>/jquery.jqplot.min.css" />

<script type="text/javascript">
var bandwidth = { };
var oldData = { };
var newData = { };
var period = 5;
var sortingKey = 'rx';

function transformArray(data)
{
    var res = { };
    $.each(data, function(key, val) {
        res[val['mac']] = { };
        res[val['mac']]['tx'] = val['tx'];
        res[val['mac']]['rx'] = val['rx'];
        res[val['mac']]['ip'] = val['ip'];
        res[val['mac']]['hostname'] = val['hostname'];
    });
    return res;
}

function round(number)
{
    return (Math.round((number * 1000)/10)/100).toFixed(2);
}

function unitify(number, bit=false, binary=false)
{
    var unitSuffix2 = (bit ? "bit/s" : "B/s");

    var base = (binary ? 1024 : 1000);
    var unitSuffix1 = (binary ? "i" : "");

    var G = Math.pow(base, 3);
    var M = Math.pow(base, 2);
    var k = Math.pow(base, 1);

    if (bit)
    {
        number *= 8;
    }

    if (number >= G)
    {
        return round(number / G) + " G" + unitSuffix1 + unitSuffix2;
    }
    else if (number >= M)
    {
        return round(number / M) + " M" + unitSuffix1 + unitSuffix2;
    }
    else if (number >= k)
    {
        return round(number / k) + " k" + unitSuffix1 + unitSuffix2;
    }
    else
    {
        return number + " " + unitSuffix2;
    }
}

function sortArrayByKey(toSort, lookup, key)
{
    return toSort.sort(function(a, b)
    {
        var x = lookup[a][key];
        var y = lookup[b][key];
        return ((x < y) ? 1 : ((x > y) ? -1 : 0));
    });
}

function computeBandwidth(data)
{
    oldData = newData;
    newData = transformArray(data);

    var res = { };

    $.each(newData, function(key, val)
    {
        res[key] = { };
        if (!(key in oldData))
        {
            res[key]['tx'] = 0;
            res[key]['rx'] = 0;
            res[key]['tx_txt'] = "Gathering data..."
            res[key]['rx_txt'] = "Gathering data..."
        }
        else
        {
            var tx = (newData[key]['tx'] - oldData[key]['tx']);
            var rx = (newData[key]['rx'] - oldData[key]['rx']);

            res[key]['tx'] = (tx >= 0 ? tx / period : bandwidth[key]['tx']);
            res[key]['rx'] = (rx >= 0 ? rx / period : bandwidth[key]['rx']);

            res[key]['tx_txt'] = unitify(res[key]['tx']);
            res[key]['rx_txt'] = unitify(res[key]['rx']);
        }
    });

    bandwidth = res;
}

function macToColor(mac)
{
    Math.seedrandom(mac);
    var rand = Math.random() * Math.pow(255, 3);
    Math.seedrandom();

    color = "rgba(" +
        (rand & 0xFF).toString(10) +  ", " +
        ((rand >> 1 * 8) & 0xFF).toString(10) + ", " +
        ((rand >> 2 * 8) & 0xFF).toString(10) +
        ", 0.4)";
    return color;
}

function plotPie(div, data, colors, title)
{
    $.jqplot(div, [data],
    {
        seriesColors: colors,
        grid:
        {
            drawBorder: false,
            drawGridlines: false,
            background: '#ffffff',
            shadow:false
        },
        axesDefaults: { },
        seriesDefaults:
        {
            renderer:$.jqplot.PieRenderer,
            rendererOptions:
            {
                showDataLabels: true,
            },
            shadow: false
        },
        legend: { show: false },
        title: title
    });
}

function updateHtml()
{
    var totalRX = 350000;
    var totalTX = 350000;

    // SQM values are given in kbit/s so we need to convert to B/s
    totalRX *= (1000 / 8);
    totalTX *= (1000 / 8);

    var freeRX = totalRX;
    var freeTX = totalTX;
    var freeColor = "rgba(200, 200, 200, 0.4)";

    var graphDataRX = [ ];
    var graphDataTX = [ ];
    var colorsRX = [ ];
    var colorsTX = [ ];

    $.getJSON('<%=build_url("admin/overthebox/lan_traffic_data")%>', "", function(data)
    {
        computeBandwidth(data);

        macs = Object.keys(bandwidth);
        sortArrayByKey(macs, bandwidth, sortingKey);

        htmlOutput = "";
        $.each(macs, function(key, val)
        {
            var color = macToColor(val);
            htmlOutput += "<tr class=\"cbi-section-table-row\">";
            htmlOutput += "<td class=\"cbi-value-field\"><span class=\"legend_square\" style=\"background: " + color + ";\"></span>" + val + "</td>";
            htmlOutput += "<td class=\"cbi-value-field\">" + newData[val]['ip'] + "</td>";
            htmlOutput += "<td class=\"cbi-value-field\">" + newData[val]['hostname'] + "</td>";
            htmlOutput += "<td class=\"cbi-value-field\">" + bandwidth[val]['tx_txt'] + "</td>";
            htmlOutput += "<td class=\"cbi-value-field\">" + bandwidth[val]['rx_txt'] + "</td>";
            htmlOutput += "</tr>";

            freeRX -= bandwidth[val]['rx'];
            freeTX -= bandwidth[val]['tx'];

            graphDataRX.push([val, bandwidth[val]['rx']]);
            graphDataTX.push([val, bandwidth[val]['tx']]);
            colorsRX.push(color);
            colorsTX.push(color);
        });
        freeRX = (freeRX < 0) ? 0 : freeRX;
        freeTX = (freeTX < 0) ? 0 : freeTX;

        htmlOutput += "<tr class=\"cbi-section-table-row\">";
        htmlOutput += "<td class=\"cbi-value-field\" colspan=\"3\"><span class=\"legend_square\" style=\"background: " + freeColor + ";\"></span>Free</td>";
        htmlOutput += "<td class=\"cbi-value-field\">" + unitify(freeTX) + "</td>";
        htmlOutput += "<td class=\"cbi-value-field\">" + unitify(freeRX) + "</td>";
        htmlOutput += "</tr>";

        graphDataRX.push(["Free", freeRX]);
        graphDataTX.push(["Free", freeTX]);
        colorsRX.push(freeColor);
        colorsTX.push(freeColor);

        $("#bandwidth").html(htmlOutput);
        plotPie('pieRX', graphDataRX, colorsRX, "RX");
        plotPie('pieTX', graphDataTX, colorsTX, "TX");
    });
}

$(document).ready(function()
{
    if (sortingKey == 'tx')
    {
        $('#tx').css('text-decoration', 'underline');
    }
    else if (sortingKey == 'rx')
    {
        $('#rx').css('text-decoration', 'underline');
    }

    updateHtml();
    setInterval(updateHtml, period * 1000);

    $('#tx').click(function()
    {
        sortingKey = 'tx';
        $('#tx').css('text-decoration', 'underline');
        $('#rx').css('text-decoration', 'none');
    });

    $('#rx').click(function()
    {
        sortingKey = 'rx';
        $('#rx').css('text-decoration', 'underline');
        $('#tx').css('text-decoration', 'none');
    });
});

</script>


<link rel="stylesheet" type="text/css" href="<%=resource%>/ovh/css/ovh-common.css">

<h2><%:LAN Traffic%></h2>
<div id="pieTX" class="pieGraph"></div>
<div id="pieRX" class="pieGraph"></div>

<h2 style="clear: both;"><%:Details%></h2>
<table class="cbi-section-table" style="table-layout:fixed;">
    <thead>
        <tr class="cbi-section-table-titles">
            <th class="cbi-section-table-cell">MAC</th>
            <th class="cbi-section-table-cell">IP</th>
            <th class="cbi-section-table-cell">Host</th>
            <th class="cbi-section-table-cell"><a id="tx">TX</a></th>
            <th class="cbi-section-table-cell"><a id="rx">RX</a></th>
        </tr>
    </thead>
    <tbody id="bandwidth">
        <tr class="cbi-section-table-row">
            <td colspan="5">Gathering data...</td>
        </tr>
    </tbody>
</table>
<%+footer%>
