<%
-- Copyright 2015 OVH (OverTheBox@ovh.net)
-- Simon Lelievre (simon.lelievre@corp.ovh.com)
-- Sebastien Duponcheel (sebastien.duponcheel@ovh.net)
--
-- This file is part of OverTheBox for OpenWrt.
--
--    OverTheBox is free software: you can redistribute it and/or modify
--    it under the terms of the GNU General Public License as published by
--    the Free Software Foundation, either version 3 of the License, or
--    (at your option) any later version.
--
--    OverTheBox is distributed in the hope that it will be useful,
--    but WITHOUT ANY WARRANTY; without even the implied warranty of
--    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
--    GNU General Public License for more details.
--
--    You should have received a copy of the GNU General Public License
--    along with OverTheBox.  If not, see (http://www.gnu.org/licenses/)
-%>
<%
	local uci = require("luci.model.uci").cursor()

	local device_id = uci:get("overthebox", "me", "device_id")
	local service = uci:get("overthebox", "me", "service")
%>

<script type="text/javascript">//<![CDATA[

stepbar.register.status = "warn";

function copyTextToClipboard(text) {
  var textArea = document.createElement("textarea");

  //
  // *** This styling is an extra step which is likely not required. ***
  //
  // Why is it here? To ensure:
  // 1. the element is able to have focus and selection.
  // 2. if element was to flash render it has minimal visual impact.
  // 3. less flakyness with selection and copying which **might** occur if
  //    the textarea element is not visible.
  //
  // The likelihood is the element won't even render, not even a flash,
  // so some of these are just precautions. However in IE the element
  // is visible whilst the popup box asking the user for permission for
  // the web page to copy to the clipboard.
  //

  // Place in top-left corner of screen regardless of scroll position.
  textArea.style.position = 'fixed';
  textArea.style.top = 0;
  textArea.style.left = 0;

  // Ensure it has a small width and height. Setting to 1px / 1em
  // doesn't work as this gives a negative w/h on some browsers.
  textArea.style.width = '2em';
  textArea.style.height = '2em';

  // We don't need padding, reducing the size if it does flash render.
  textArea.style.padding = 0;

  // Clean up any borders.
  textArea.style.border = 'none';
  textArea.style.outline = 'none';
  textArea.style.boxShadow = 'none';

  // Avoid flash of white box if rendered for any reason.
  textArea.style.background = 'transparent';


  textArea.value = text;

  document.body.appendChild(textArea);

  textArea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Copying text command was ' + msg);
  } catch (err) {
    console.log('Oops, unable to copy');
  }

  document.body.removeChild(textArea);
}

// Set 20s reload page timer
window.setTimeout(function(){ location.reload(true) }, 20000)

//]]></script>

<h2><%:Register your device%></h2>
<fieldset id="activate_button_field" class="cbi-section">
<!--	<legend><%:Register your device%></legend>-->
        <table width="100%" cellspacing="10">
		<tr><td colspan="2"><strong><%:Welcome, to start using your OverTheBox you must log into your OVH Manager and create a OverTheBox service. Then register your device with the ID given below.%></strong></td></tr>
		<tr><td width="33%"><%:Device ID%></td><td><%=device_id or translate("Registering your device, please wait...")%></td></tr>
		<tr><td width="33%"><%:Register URL%></td><td>
			<a href="https://www.ovhtelecom.fr/manager/login/#/configure/overTheBox" target="_blank" onclick="copyTextToClipboard('<%=device_id%>')">
				https://www.ovhtelecom.fr/manager/login/#/configure/overTheBox
			</a>
		</td></tr>
		<tr><td><%:Help%></td>
			<td>
				<a href="https://docs.ovh.com/fr/overthebox/" target="_blank">
					<%:How to register%>
				</a>
			</td>
		</tr>
        </table>

	<div id="activate_action_button" class="cbi-page-actions">
		<input type="button" onclick="copyTextToClipboard('<%=device_id%>'); window.open('https://www.ovhtelecom.fr/manager/login/#/configure/overTheBox')" value="<%:Register%>" class="cbi-button cbi-button-apply" />
		<img id="img-loader" style="display:none" src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" height="20" />
	</div>
</fieldset>

