<%
-- Copyright 2016 OVH (OverTheBox@ovh.net)
-- Simon Lelievre (simon.lelievre@corp.ovh.com)
-- Sebastien Duponcheel (sebastien.duponcheel@ovh.net)
-- Cyrille Meichel (cyrille.meichel@corp.ovh.com)
--
-- This file is part of OverTheBox for OpenWrt.
--
--    OverTheBox is free software: you can redistribute it and/or modify
--    it under the terms of the GNU General Public License as published by
--    the Free Software Foundation, either version 3 of the License, or
--    (at your option) any later version.
--
--    OverTheBox is distributed in the hope that it will be useful,
--    but WITHOUT ANY WARRANTY; without even the implied warranty of
--    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
--    GNU General Public License for more details.
--
--    You should have received a copy of the GNU General Public License
--    along with OverTheBox.  If not, see (http://www.gnu.org/licenses/)
-%>

<%+header%>

<%
    local uci = require("luci.model.uci").cursor()

    local device_id		= uci:get("overthebox", "me", "device_id")
	local service_id	= uci:get("overthebox", "me", "service")
    local wizardStack = 0

    local function wizard(title, width, height, status, id)
        local arrowLen = height / 3
        print("<svg class=\""..status.."\" style=\"left:"..wizardStack.."px;width:"..width.."px\" id=\""..id.."\" data-container=\""..id.."Process\">")
        if (wizardStack == 0) then
            print("<path d=\"M 0 0 L "..(width - arrowLen).." 0 L "..width.." "..(height / 2).." L "..(width - arrowLen).." "..height.." L 0 "..height.." L 0 0\"/>")
            print("<text x=\"10%\" y=\"50%\" class=\"title\">" .. title .. "</text>")
        else
            print("<path d=\"M 0 0 L "..(width - arrowLen).." 0 L "..width.." "..(height / 2).." L "..(width - arrowLen).." "..height.." L 0 "..height.." L "..arrowLen.." "..(height / 2).." L 0 0\"/>")
            print("<text x=\"15%\" y=\"50%\" class=\"title\">" .. title .. "</text>")
        end
        print("</svg>")
        wizardStack = wizardStack + width - arrowLen
    end
%>

<link rel="stylesheet" type="text/css" href="<%=resource%>/ovh/css/ovh-common.css">
<link rel="stylesheet" type="text/css" href="<%=resource%>/ovh/css/overthebox_index.css">
<link rel="stylesheet" type="text/css" href="<%=resource%>/ovh/css/ovh-common.css">
<link rel="stylesheet" type="text/css" href="<%=resource%>/jquery-ui.min.css">
<script src="<%=resource%>/jquery-3.1.1.min.js"></script>
<script src="<%=resource%>/jquery-ui.min.js"></script>
<script src="<%=resource%>/js-cookie.js"></script>
<script src="<%=resource%>/sha1.js"></script>
<script src="<%=resource%>/view_scripts/globals.js"></script>
<script src="<%=resource%>/view_scripts/api.js"></script>
<script src="<%=resource%>/view_scripts/nuc.js"></script>
<script src="<%=resource%>/view_scripts/wizard.js"></script>
<script src="<%=resource%>/view_scripts/translations.js"></script>
<script src="<%=resource%>/view_scripts/overthebox/register_device.js"></script>

<div id="registerWizard" class="register" style="display:none">
    <h1>Bienvenue dans votre espace OverTheBox</h1>

    <div id="gettingDeviceId" class="alert alert-info">
        <p><%:Waiting for device ID%> ...</p>
        <div id="isConnectedSpinner"></div>
    </div>

    <!-- When not connected -->
    <div id="requireConnexion" class="alert alert-info">
        <div id="notConnectedMessage">
            <p><%:Installez facilement votre OverTheBox en 4 étapes%></p>
            <p><%:Vérifier qu'aucun autre modem ne soit branché à votre modem principal%>.</p>
            <svg version="1.1" class="jsFirstScheme" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500px"></svg>
            <p><%:Pour associer OverTheBox à un service, merci de bien vouloir commencer par vous authentifier%><span rel="tooltip" class="help" title="<h4>Authentification</h4><p><%:vous allez être redirigé vers une page nommée <strong>Permission to access your account</strong>. Veuillez cliquer sur le bouton <strong>Authorize Access</strong> pour vous authentifier.%></p>">?</span></p>
        </div>
        <div id="connectedMessage">
            <p><%:Installer facilement votre OverTheBox en 4 étapes%></p>
            <p><%:Vérifier qu'aucun autre modem ne soit branché à votre modem principal%>.</p>
            <svg version="1.1" class="jsFirstScheme" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500px"></svg>
            <p><%:Votre OverTheBox est associée à un service %><strong id="serviceId"></strong>.</p>
            <p><%:Connectez-vous pour modifier la configuration matérielle%>.</p>
        </div>
        <p><strong><%:Vous allez être redirigé vers une page d'authentification%><span rel="tooltip" class="help" title="<h4>Authentification</h4><p><%:vous allez être redirigé vers une page nommée <strong>Permission to access your account</strong>. Veuillez cliquer sur le bouton <strong>Authorize Access</strong> pour vous authentifier.%></p>">?</span></strong></p>
        <button id="registerButton" class="btn btn-primary"><%:S'authentifier%></button>
        <div style="margin-top:20px">
            <a id="overviewMode" href="<%=pcdata(luci.dispatcher.build_url("admin/overthebox/overview"))%>#force"><%:Quitter l'assistant%></a>
        </div>
    </div>

    <!-- When connected -->
    <div id="connexionDone">
        <p><%:Bonjour%> <span class="fullName"></span> (<a id="disconnect" href="#"><%:Déconnexion%></a>),</p>

        <div class="wizard">
            <% wizard(translate("Sécurité"), 130, 40, "todo", "passwordSetup") %>
            <% wizard(translate("Votre service"), 130, 40, "todo", "serviceChoice") %>
            <% wizard(translate("Désactiver le DHCP"), 180, 40, "todo", "dhcpDesactivate") %>
            <% wizard(translate("Modems supplémentaires"), 260, 40, "todo", "dhcpDesactivateMore") %>
        </div>

        <div id="messageContainer"></div>

        <div id="process">

            <!-- Password -->
            <div id="passwordSetupProcess">
                <div class="alert alert-info config">
                    <p><%:Choisissez un mot de passe pour sécuriser l’accès à votre OverTheBox%>.</p>
                    <p><%:Votre mot de passe doit contenir, au minimum, 8 caractères alphanumériques%>.</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <form id="passwordSetForm">
                                    <div class="form-group" id="passGpFirst">
                                        <input type="password" class="form-control" id="passwordInput" placeholder="<%:Mot de passe%>">
                                        <label class="control-label control-message" id="passErrorLong"><%:Le mot de passe doit contenir, au minimum, 8 caractères%></label>
                                    </div>
                                    <div class="form-group" id="passGpSecond">
                                        <input type="password" class="form-control" id="passwordInput2" placeholder="<%:Confirmez%>">
                                        <label class="control-label control-message" id="passErrorSame"><%:Les mots de passe ne sont pas identiques%></label>
                                    </div>
                                    <button id="passwordSetSubmit" type="submit" class="btn btn-primary"><%:Valider%> <span id="passwordSetSpinner"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Link service to Device -->
            <div id="serviceChoiceProcess">
                <div class="alert alert-info config">
                    <div id="getServicesSpinner"></div>
                    <form id="activateServiceForm">
                        <div class="form-group serviceList">
                            <label class="serviceList form-control-label" for="serviceList"><%:Sélectionnez le service que vous souhaitez associer à votre OverTheBox%></label>
                            <p class="uniqueService">
                                <%:Associez votre service OTB%>
                                <strong class="customerDescription"></strong>
                                (<em class="serviceName"></em>)
                                <%:à l'OverTheBox.%>
                            </p>
                            <div class="noService">
                                <p>
                                    <%:Aucun service OverTheBox n'a été trouvé sur votre compte%>.
                                    <%:Rendez-vous sur la page de commande de service%>.
                                    </p>
                                <a href="https://www.ovhtelecom.fr/commande/overthebox.xml?quantity=0&serviceQuantity=1" class="btn btn-primary" target="_blank"><%:Commander%></a>
                            </div>
                        </div>

                        <button id="serviceActivateSubmit" type="submit" class="btn btn-primary"><%:Associer%> <span id="associateServiceSpinner"></span></button>
                    </form>
                    <div id="releaseService">
                            <p><%:Un appareil est déjà associé à ce service. Il s’agit peut-être de la même OverTheBox si cette dernière a été réinitialisée.
Souhaitez-vous associer ce nouveau device?%></p>
                            <button class="btn no" role="button"><%:Non%></button>
                            <button class="btn btn-primary yes" role="button"><%:Oui%></button>
                        </div>
                </div>
                <div class="alert alert-info done">
                    <div class="skip">
                        <p><%:Votre matériel est déjà lié au service%> <span></span>.</p>
                        <button role="button" class="btn btn-primary next" href="#"><%:Continuer%></a>
                    </div>
                    <div id="needActivate">
                        <p><%:Votre service doit être activé. Cela peut prendre quelques minutes.%></p>
                        <p class="progression"><%:Patientez%> <span></span></p>
                        <button id="serviceLinked" role="button" class="btn btn-primary" href="#"><%:Activer le service%></a>
                    </div>
                </div>
            </div>

            <!-- Configure first modem -->
            <div id="dhcpDesactivateProcess">
                <svg version="1.1" id="firstModemScheme" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500px"></svg>
                <div class="alert alert-info not-ready">
                    <p><%:Aucun modem n'a été détecté sur votre OverTheBox. Veuillez le brancher%>.</p>

                </div>
                <div class="alert alert-info config">
                    <p><%:Votre modem a été correctement détecté%>.</p>

                    <p><%:Il est obligatoire de désactiver le DHCP de votre modem afin qu'OverTheBox puisse fonctionner%>.<span rel="tooltip" class="help" title="<h4>DHCP</h4><p><%:C'est un protocole qui permet à un organe réseau d'obtenir dynamiquement une adresse IP. Cela permet de simplifier la configuration réseau.%></p><p><%:Par abus de langage, on appelle DHCP le serveur qui attribue dynamiquement ces adresses IP.%></p>">?</span></p>
                    <p><%:Les étapes à suivre%>:</p>
                    <ol>
                        <li>
                            <%:Désactivez le DHCP de votre modem%><br>
                            <span><%:Comment faire%> ?</span>
                            <a href="https://www.ovh.com/fr/g2238.1" target="_blank"><%:Suivez le guide%></a>
                        </li>
                        <li>
                            <%:Vérifier que votre DHCP est désactivé%><br>
                            <span class="note"><%:Cette opération dure en moyenne 30 secondes%>.</span><br>
                            <button id="mainDhcpCheck" role="button" class="btn btn-primary jsDhcpCheck">
                                <%:Vérification du DHCP%>
                                <span class="percent"></span>
                            </button>
                        </li>
                    </ol>
                </div>
                <div class="alert alert-info done">
                    <p><%:Afin qu'OverTheBox soit opérationnelle et que votre réseau soit sécurisé, reconnectez votre ordinateur à l'OverThebox%>.</p>
                    <p><%:Procédez ainsi%>:</p>
                    <p><strong><%:En Ethernet RJ45%> : </strong><%:Débranchez et rebranchez le câble RJ45%></p>
                    <p><strong><%:En WiFi%> : </strong><%:Coupez le WiFi et réactivez-le%></p>
                    <p>Puis testez :</p>
                    <button id="testPublicIp" role="button" class="btn btn-primary" href="#"><%:Tester%></a>
                    <button id="gotoAdditionalModem" role="button" class="btn btn-primary next" href="#"><%:Continuer%></a>
                </div>
                <div style="margin-top:20px">
                    <a id="overviewMode" href="<%=pcdata(luci.dispatcher.build_url("admin/overthebox/overview"))%>#force"><%:Quitter l'assistant%></a>
                </div>
            </div>

            <!-- Configure aditional modems -->
            <div id="dhcpDesactivateMoreProcess">
                <svg version="1.1" id="additionalModemScheme" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500px"></svg>
                <div class="alert alert-info not-ready">
                    <p><%:Si vous souhaitez ajouter une connexion, branchez votre modem supplémentaire selon le schéma et patientez quelques instants. La détection est automatique, vous serez automatiquement redirigé vers l'étape suivante.%></p>
                    <p><%:Si vous n'avez plus d'autres connexions à rajouter, vous pouvez quitter l'assistant, l'installation est terminée.%></p>
                    <br/>
                    <p><%:Envie de garantir une qualité de service optimale, personnalisez la répartition de votre trafic en fonction de vos applications et de votre bande passante%>. <a target="_blank" href="https://www.ovh.com/fr/g2246.0"><%:Suivez le guide%></a></p>
                    <a style="display:block;width:20%;margin:0 auto;" class="btn btn-primary" href="<%=pcdata(luci.dispatcher.build_url("admin/overthebox/overview"))%>"><%:Quitter l'assistant%></a>
                </div>
                <div class="alert alert-info config">
                    <p><%:Les étapes à suivre pour désactiver le DHCP%>:</p>
                    <ol>
                        <li>
                            <%:Désactivez le DHCP de votre modem%><br>
                            <span><%:Comment faire%> ?</span>
                            <a href="https://www.ovh.com/fr/g2238.1" target="_blank"><%:Suivez le guide%></a>
                        </li>
                        <li>
                            <%:Vérifier que votre DHCP est désactivé%><br>
                            <span class="note"><%:Cette opération dure en moyenne 30 secondes.%></span><br>
                            <button id="additionalDhcpCheck" role="button" class="btn btn-primary jsDhcpCheck">
                                <%:Vérification du DHCP%>
                                <span class="percent"></span>
                            </button>
                        </li>
                    </ol>
                    <div style="margin-top:20px">
                        <a id="overviewMode" href="<%=pcdata(luci.dispatcher.build_url("admin/overthebox/overview"))%>#force"><%:Quitter l'assistant%></a>
                    </div>
                </div>
                <div class="alert alert-info done">
                    <p><%:Le serveur DHCP de votre modem supplémentaire est bien désactivé%>.</p>
                    <p><%:Afin de garantir une qualité de service optimale, personnalisez la répartition de votre trafic en fonction de vos applications et de votre bande passante%>. <a target="_blank" href="https://www.ovh.com/fr/g2246.0"><%:Suivez le guide%></a></p>
                    <button id="modemAdd" role="button" class="btn btn-primary"><%:Ajouter un modem%></button>
                    <a class="btn btn-primary pull-right" href="<%=pcdata(luci.dispatcher.build_url("admin/overthebox/overview"))%>"><%:Quitter l'assistant%></a>
                    </ul>
                </div>
            </div>

        <div>
    </div>
</div>

<div id="dialog-message-support" title="<%:Besoin d'aide ?%>">
  <p>
    <%:Rendez-vous sur%> <a href="https://www.ovh.com/fr/support/" target="_blank">https://www.ovh.com/fr/support/</a>
  </p>
</div>

<script>
    $(document).ready(function() {

        var dhcpCounter;

        $.widget("ui.tooltip", $.ui.tooltip, {
            options: {
                content: function () {
                    return $(this).prop('title');
                }
            }
        });

        $('[rel=tooltip]').tooltip({
            position: {
                track: true,
                my: "left top-28",
                at: "right+10 top",
                collision: "none"
            },
            classes: {
                "ui-tooltip": "otb-tooltip"
            }
        });

        /* otb declared as global variable in included scripts */
        var me = {};
        otb.deviceId = "<%=device_id%>";
        otb.serviceId = "<%=service_id%>";
        otb.hasPassword = <%- if luci.sys.user.getpasswd("root") then -%>true<%- else -%>false<%- end -%>;
        otb.constants = {
            dhcpCheckURL: "<%=luci.dispatcher.build_url("admin", "overthebox", "dhcp_recheck")%>",
            dhcpStatusURL: "<%=luci.dispatcher.build_url("admin", "overthebox", "dhcp_status")%>",
            serviceActivateURL: "<%=luci.dispatcher.build_url("admin", "overthebox", "activate_service")%>",
            recievedActivationOrderURL: "<%=luci.dispatcher.build_url("admin", "overthebox", "need_activate_service")%>",
            interfaceStatusURL: "<%=luci.dispatcher.build_url("admin", "overthebox", "interfaces_status")%>",
            askServiceActivationURL: "<%=luci.dispatcher.build_url("overthebox", "me", "activate_service")%>",
            changePasswordURL: "<%=luci.dispatcher.build_url("admin", "overthebox", "passwd")%>"
        };
        otb.translations.add("register-device@linked_device", "<%:associé à%>");
        otb.translations.add("register-device@dhcp_desactivated", "<%:Le DHCP de votre modem est désactivé%>");
        otb.translations.add("register-device@dhcp_activated", "<%:Le DHCP de votre modem est toujours actif%> (IP du modem: <strong><a href='http://{{detail}}' target='_blank'>{{detail}}</a></strong>)");
        otb.translations.add("register-device@service_activation_error", "<%:L'activation de votre service n'a pas abouti%>");
        otb.translations.add("register-device@service_activation_success", "<%:Votre service est activé%>");
        otb.translations.add("register-device@service_associated", "<%:Le service OTB%> <strong>{{name}}</strong> <%:a bien été associé à votre OverTheBox%> <strong>{{deviceId}}</strong>");
        otb.translations.add("register-device@service_not_associated", "<%:Le service OTB%> <strong>{{name}}</strong> <%:n'a pas pu être associé à votre OverTheBox%> <strong>{{deviceId}}</strong>");
        otb.translations.add("register-device@wrong_password", "<%:Erreur lors du changement de mot de passe. Veuillez recommencer.%>");
        otb.translations.add("register-device@success_password", "<%:Votre nouveau mot de passe a bien été pris en compte.%>");
        otb.dhcpCheckDelay = 40;
        otb.dhcpCheckInterval = 2;
        otb.tryBeforSupport = 3;

        /* ==================== */
        /* == Initialization == */
        /* ==================== */

        /* === Initialize the display === */
        $("#serviceActivateSubmit").prop("disabled", true);
        $("label.serviceList").hide();
        $("p.uniqueService").hide();
        $("div.noService").hide();
        $(".done").hide();
        $(".not-ready").hide();
        $(".config").show();
        $("p.skip").hide();
        $("#connexionDone").hide();
        $("#requireConnexion").hide();
        $("#releaseService").hide();
        $("#passwordWarning").hide();
        $("#needActivate").hide();
        $("div.wizard").wizard();

        otb.connectionScheme($(".jsFirstScheme"));
        $(".jsFirstScheme .jsModem2,.jsFirstScheme .jsModem3,.jsFirstScheme .jsModem4").hide();
        otb.connectionScheme($("#firstModemScheme"));
        $("#firstModemScheme .jsModem2,#firstModemScheme .jsModem3,#firstModemScheme .jsModem4").hide();
        otb.svgAddClass($("#firstModemScheme .jsModem1"), "to-be-plugged");
        otb.connectionScheme($("#additionalModemScheme"));
        $("#additionalModemScheme .jsModem2,#additionalModemScheme .jsModem3,#additionalModemScheme .jsModem4").hide();

        $("#dialog-message-support").dialog({
            modal: true,
            autoOpen: false,
            width: "400px",
            dialogClass: "dialog-message-support",
            buttons: {
                Ok: function() {
                $( this ).dialog( "close" );
                }
            }
        });

        function next() {
            $("div.wizard").wizard("next", function() {
                otb.cleanMessages();
            });
        }

        if (otb.serviceId) {
            $("#notConnectedMessage").hide();
            $("#serviceId").text(otb.serviceId);
        } else {
            $("#connectedMessage").hide();
        }

        $("a#disconnect").click(function () {
            Cookies.remove("consumerKey");
            window.location.reload();
        });

        // bind all "next" buttons
        $(".next").click(next);

        /* === Register to OVH === */
        $("#registerButton").click(function() {
            $("#registerButton").prop("disabled",true);
            otb.api.getCredentials(function(err, data) {
                if (!err) {
                    Cookies.remove("consumerKey");
                    Cookies.set("consumerKey", otb.api.tmpCredentials.consumerKey);
                    window.location = otb.api.tmpCredentials.validationUrl;
                    console.log(data);
                }
            });

        });
        otb.api.consumerKey = Cookies.get("consumerKey");

        /* === Check if connected == */
        otb.spinner($("#isConnectedSpinner"), true);
        otb.api.me(function (err, data) {
            if (err) {
                otb.spinner($("#isConnectedSpinner"), false);
                $("#gettingDeviceId").hide();
                $("#requireConnexion").show();
            } else if (otb.deviceId) {
                otb.spinner($("#isConnectedSpinner"), false);
                $("#gettingDeviceId").hide();
                $("#connexionDone").show();
                me = data;
                $(".fullName").text([data.firstname, data.name].join(" "))
            } else {
                // Panic ! no device ID ! reloading !
                setTimeout(function() {
                    window.location.reload();
                }, 2000);
            }
            $("#registerWizard").show();
        });

        function displaySupport() {
            if (!(--dhcpCounter)) {
                $("#dialog-message-support").dialog("open");
                dhcpCounter = otb.tryBeforSupport;
            }
        }

        /* ============== */
        /* == Password == */
        /* ============== */

        /* === Attach wizzard events === */
        $("div.wizard").wizard("attachEvent", "passwordSetup", "start", function() {
            $("#passErrorLong").hide();
            $("#passErrorSame").hide();

            // if password is set, skip this wizard step
            if (otb.hasPassword) {
                $("div.wizard").wizard("next");
            }

            // check password validity
            $("#passwordSetSubmit").prop("disabled", true);
            var passwordInput = $("#passwordSetupProcess input[type=password]");
            passwordInput.val("");
            passwordInput.keyup(function() {
                var isSame = (passwordInput.first().val() === passwordInput.last().val());
                var isLongEnough = passwordInput.first().val().length > 7;
                $("#passErrorLong").hide();
                $("#passErrorSame").hide();
                if (!isSame && passwordInput.last().val()) {
                    $("#passGpSecond").addClass("has-error");
                    $("#passGpSecond").removeClass("has-success");
                    $("#passErrorSame").show()
                } else {
                    $("#passGpSecond").removeClass("has-error");
                    $("#passGpSecond").addClass("has-success");
                }
                if (!isLongEnough) {
                    $("#passGpFirst").addClass("has-error");
                    $("#passGpFirst").removeClass("has-success");
                    if (!isLongEnough) {
                        $("#passErrorLong").show();
                    }
                } else {
                    $("#passGpFirst").removeClass("has-error");
                    $("#passGpFirst").addClass("has-success");
                }
                $("#passwordSetSubmit").prop("disabled", !isSame || !isLongEnough);
            });
        }).wizard("attachEvent", "passwordSetup", "stop", function() {
            $("#passwordSetupProcess input[type=password]").unbind();
        });

        /* === Submit === */
        otb.attachSubmit($("#passwordSetForm"), function(form) {
            $("#passwordSetSubmit").prop("disabled", true);
            otb.nuc.changePassword("<%=token%>", $("#passwordInput").val(), $("#passwordInput2").val(), function(err) {
                $("#passwordSetSubmit").prop("disabled", false);
                $("#passwordInput").val("");
                $("#passwordInput2").val("");
                if (!err) {
                    next();
                    otb.pushMessage($("div#messageContainer"), "success", ["<p>", otb.translations.get("register-device@success_password"), "</p>"].join(""));
                } else {
                    otb.pushMessage($("div#messageContainer"), "error", ["<p>", otb.translations.get("register-device@wrong_password"), "</p>"].join(""));
                }
            });
        });

        /* ========================= */
        /* == Service association == */
        /* ========================= */

        /* === Attach wizzard events === */
        $("#serviceActivateSubmit").prop("disabled", true);
        var servicePoller = otb.noop;
        var activateServicePoller = otb.noop;

        $("div.wizard").wizard("attachEvent", "serviceChoice", "start", function() {
            otb.spinner($("#getServicesSpinner"), true);
            servicePoller = otb.api.startPoller({
                delay: 5,
                caller: function(callback) {
                    otb.api.getOtbServices(function (err, services) {
                        if (!err && otb.isArray(services)) {
                            var configuredService = otb.checkLinkedDevice(services, otb.deviceId);
                            otb.spinner($("#getServicesSpinner"), false);
                            if (services.length) {
                                servicePoller();
                                otb.services = services;
                            }
                            if (configuredService) {
                                $("div#serviceChoiceProcess .config").hide();
                                $("p.skip").show();
                                $("p.skip span").text(configuredService.serviceName);
                                $("div#serviceChoiceProcess .done").show();
                            } else {
                                otb.getServices($("div.serviceList"), services, function(err) {
                                    if (!err) {
                                        $("#serviceActivateSubmit").show();
                                        $("#serviceActivateSubmit").prop("disabled", false);
                                    }
                                    if (err === "no-service") {
                                        $("#serviceActivateSubmit").hide();
                                    }
                                });
                            }
                        }
                        callback();
                    });
                }
            });
        }).wizard("attachEvent", "serviceChoice" ,"stop", function() {
            activateServicePoller();
            servicePoller();
        });

        /* === Submit === */
        otb.attachSubmit($("#activateServiceForm"), function(form) {
            var serviceId = $(form).find("[name=serviceSelected]").first().val();
            otb.spinner($("#associateServiceSpinner"), true);
            $("#serviceActivateSubmit").prop("disabled", true);
            $("select#serviceList").prop("disabled", true);

            otb.tmpService = otb.arrayFind(otb.services, {serviceName: serviceId});

            if (!otb.tmpService.device || !otb.tmpService.device.deviceId) {
                // service is available
                otb.attachService(serviceId, function (err) {
                    if (err) {
                        $("#serviceActivateSubmit").prop("disabled", false);
                    } else {
                        otb.cleanMessages();
                        activateServicePoller();
                        activateServicePoller = window.otb.gotoServiceActivation(next);
                    }
                });
            } else {
                // service must be unlinked first
                $("#releaseService").show();
                $("#serviceActivateSubmit").hide();
            }

        });

        // Service not available => cancel
        $("#releaseService button.no").click(function () {
            otb.spinner($("#associateServiceSpinner"), false);
            $("#serviceActivateSubmit").prop("disabled", false);
            $("select#serviceList").prop("disabled", false);
            $("#releaseService").hide();
            $("#serviceActivateSubmit").show();
        });

        // Service not available => proceed
        $("#releaseService button.yes").click(function () {
            $("#releaseService button.no").prop("disabled", true);
            $("#releaseService button.yes").prop("disabled", true);
            otb.api.unlinkOtbDevice(otb.tmpService.serviceName, function(err) {
                if (!err) {
                    delete otb.tmpService.device;
                    $("select#serviceList option:selected").text((otb.tmpService.customerDescription || otb.tmpService.serviceName))
                    var serviceId = $("#activateServiceForm").find("[name=serviceSelected]").first().val();
                    otb.tmpService = otb.arrayFind(otb.services, {serviceName: serviceId});
                    if (!otb.tmpService.device || !otb.tmpService.device.deviceId) {
                        otb.attachService(serviceId, function (err) {
                            if (err) {
                                $("#serviceActivateSubmit").prop("disabled", false);
                            } else {
                                activateServicePoller();
                                activateServicePoller = window.otb.gotoServiceActivation(next);
                            }
                        });
                    }
                } else {
                    $("#serviceActivateSubmit").prop("disabled", false);
                    $("select#serviceList").prop("disabled", false);
                }
                otb.spinner($("#associateServiceSpinner"), false);
                $("#releaseService").hide();
                $("#releaseService button.no").prop("disabled", false);
                $("#releaseService button.yes").prop("disabled", false);
            });
        });

        //Activate service
        $("#serviceLinked").click(function () {
            otb.cleanMessages();
            $("#serviceLinked").prop("disabled", true);
            otb.activateService(otb.serviceId, function(err, status) {
                if (!err) {
                    next();
                }
                $("#serviceLinked").prop("disabled", false);
            })
        });


        /* ======================== */
        /* == First modem Config == */
        /* ======================== */

        $("#gotoAdditionalModem").hide();
        $("#testPublicIp").click(function() {
            $("#testPublicIp").prop("disabled", true);
            otb.usingOTB(function (err, status) {
                if (!err && status !== "ko") {
                    dhcpCounter = otb.tryBeforSupport;
                    $("#testPublicIp").hide();
                    $("div.wizard").wizard("next", function() {
                        otb.cleanMessages();
                    });
                    if (status == "service_ok") {
                        otb.pushMessage($("div#messageContainer"), "success", "<p><%:Votre OverTheBox est opérationnelle%></p>");
                    } else {
                        otb.pushMessage($("div#messageContainer"), "warning", "<p><%:Votre installation est terminée, cependant votre connexion n'est pas sécurisée%></p>");
                    }
                } else {
                    otb.pushMessage($("div#messageContainer"), "error", "<p><%:Veuillez déconnecter et reconnecter votre ordinateur au réseau%></p>");
                    displaySupport();
                }
                $("#testPublicIp").prop("disabled", false)
            });
        });

        var waitForModem = otb.noop;
        var searchDhcp = otb.noop;
        $("div.wizard").wizard("attachEvent", "dhcpDesactivate", "start", function() {
            dhcpCounter = otb.tryBeforSupport;
            if (otb.getRoute() === "/ip-check") {
                $("div#dhcpDesactivateProcess .config").hide();
                $("#gotoAdditionalModem").prop("disabled", true);
                $("div#dhcpDesactivateProcess .done").show();
                $("#gotoAdditionalModem").prop("disabled", false);
            } else {
                $("div#dhcpDesactivateProcess .config").hide();
                $("div#dhcpDesactivateProcess .done").hide();
                // Check that almost one modem is connected
                waitForModem();
                waitForModem = window.otb.waitForModem(1, function (err, data) {
                    if (data.found) {
                        $("div#dhcpDesactivateProcess .config").show();
                        $("div#dhcpDesactivateProcess .not-ready").hide();
                    } else {
                        $("div#dhcpDesactivateProcess .config").hide();
                        $("div#dhcpDesactivateProcess .not-ready").show();
                    }
                });
                // Launch a check to see if the DHCP is still active
                searchDhcp = otb.checkDHCP(otb.dhcpCheckDelay, otb.dhcpCheckInterval, function (err, dhcp) {
                    switch (dhcp.status) {
                        case "found":
                            dhcpMainCheckButton.prop("disabled", false);
                            dhcpMainCheckButton.find("span.percent").text("");
                            displaySupport();
                            break;
                        case "checking":
                            dhcpMainCheckButton.find("span.percent").text(dhcp.message);
                            break;
                        default:
                            dhcpCounter = otb.tryBeforSupport;
                            dhcpMainCheckButton.prop("disabled", false);
                            $("div#dhcpDesactivateProcess .config").hide();
                            $("#gotoAdditionalModem").prop("disabled", true);
                            $("div#dhcpDesactivateProcess .done").show();
                            $("#gotoAdditionalModem").prop("disabled", false);
                            dhcpMainCheckButton.find("span.percent").text("");
                            otb.setRoute("ip-check");
                    }
                });
            }
        }).wizard("attachEvent", "dhcpDesactivate", "stop", function() {
            waitForModem();
            searchDhcp();
        });

        var dhcpMainCheckButton = $("div#dhcpDesactivateProcess .jsDhcpCheck");
        dhcpMainCheckButton.click(function () {
            otb.cleanMessages();
            searchDhcp();
            dhcpMainCheckButton.prop("disabled", true);

            // check status of DHCP lease
            searchDhcp = otb.checkDHCP(otb.dhcpCheckDelay, otb.dhcpCheckInterval, function (err, dhcp) {
                switch (dhcp.status) {
                    case "found":
                        dhcpMainCheckButton.prop("disabled", false);
                        dhcpMainCheckButton.find("span.percent").text("");
                        displaySupport();
                        break;
                    case "checking":
                        dhcpMainCheckButton.find("span.percent").text(dhcp.message);
                        break;
                    default:
                        dhcpCounter = otb.tryBeforSupport;
                        dhcpMainCheckButton.prop("disabled", false);
                        $("div#dhcpDesactivateProcess .config").hide();
                        $("#gotoAdditionalModem").prop("disabled", true);
                        $("div#dhcpDesactivateProcess .done").show();
                        $("#gotoAdditionalModem").prop("disabled", false);
                        dhcpMainCheckButton.find("span.percent").text("");
                        otb.setRoute("ip-check");
                }
            });
        });

        /* ============================= */
        /* == Additional modem Config == */
        /* ============================= */

        $("div.wizard").wizard("attachEvent", "dhcpDesactivateMore", "start", function() {
            dhcpCounter = otb.tryBeforSupport;
            $("div#dhcpDesactivateMoreProcess .config").hide();
            $("div#dhcpDesactivateMoreProcess .done").hide();

            waitForModem();
            otb.nuc.connectedModems(function (err, data) {
                otb.connectedModems = data.length;

                waitForModem = window.otb.waitForModem(otb.connectedModems + 1, function (err, data) {
                    if (data.found) {
                        $("div#dhcpDesactivateMoreProcess .config").show();
                        $("div#dhcpDesactivateMoreProcess .not-ready").hide();
                        var modemIp = data.modems[data.modems.length-1].gateway;
                        otb.pushMessage($("div#messageContainer"), "success", "<p><%:Un nouveau modem a été détecté%> (IP du modem: <strong><a href='http://"+modemIp+"' target='_blank'>"+modemIp+"</a></strong>)</p>");
                    } else {
                        $("div#dhcpDesactivateMoreProcess .config").hide();
                        $("div#dhcpDesactivateMoreProcess .not-ready").show();
                    }
                    var numModems = otb.connectedModems + 1 ;
                    $("#additionalModemScheme").css("height", 80 + 40 * numModems);
                    for (var i = 1; i<=4; i++) {
                        if (i <= numModems) {
                            $("#additionalModemScheme .jsModem" + i).show();
                        } else {
                            $("#additionalModemScheme .jsModem" + i).hide();
                        }
                        if (i === data.modems.length && i ===  numModems) {
                            otb.svgAddClass($("#additionalModemScheme .jsModem" + i), "current");
                            otb.svgRemoveClass($("#additionalModemScheme .jsModem" + i), "to-be-plugged");
                        } else if (i ===  numModems) {
                            otb.svgAddClass($("#additionalModemScheme .jsModem" + i), "to-be-plugged");
                            otb.svgRemoveClass($("#additionalModemScheme .jsModem" + i), "current");
                        } else {
                            otb.svgRemoveClass($("#additionalModemScheme .jsModem" + i), "to-be-plugged");
                            otb.svgRemoveClass($("#additionalModemScheme .jsModem" + i), "current");
                        }
                    }
                });

            });

        }).wizard("attachEvent", "dhcpDesactivateMore", "stop", function() {
            waitForModem();
        });

        $("#modemPlugged").click(function() {
            waitForModem();
            $("div#dhcpDesactivateMoreProcess .config").show();
            $("div#dhcpDesactivateMoreProcess .not-ready").hide();
        });

        var dhcpAdditionalCheckButton = $("div#dhcpDesactivateMoreProcess .jsDhcpCheck");
        dhcpAdditionalCheckButton.click(function () {
            dhcpAdditionalCheckButton.prop("disabled", true);
            otb.cleanMessages();

            searchDhcp = otb.checkDHCP(otb.dhcpCheckDelay, otb.dhcpCheckInterval, function (err, dhcp) {
                switch (dhcp.status) {
                    case "found":
                        dhcpAdditionalCheckButton.prop("disabled", false);
                        dhcpAdditionalCheckButton.find("span.percent").text("");
                        displaySupport();
                        break;
                    case "checking":
                        dhcpAdditionalCheckButton.find("span.percent").text(dhcp.message);
                        break;
                    default:
                        dhcpCounter = otb.tryBeforSupport;
                        dhcpAdditionalCheckButton.prop("disabled", false);
                        dhcpAdditionalCheckButton.find("span.percent").text("");
                        $("div#dhcpDesactivateMoreProcess .config").hide();
                        $("#gotoAdditionalModem").prop("disabled", true);

                        $("div.wizard").wizard("goto", "dhcpDesactivateMore", function() {});
                }
            });

        });

        $("#modemAdd").click(function () {
            $("div.wizard").wizard("goto", "dhcpDesactivateMore", function() {
                otb.cleanMessages();
            });
        });

        /* ============ */
        /* == Wizard == */
        /* ============ */

        /* === Start wizard === */
        var targetWizard = window.location.hash.replace(/^#/, "");
        if ($("div.wizard").wizard("has", targetWizard)) {
            $("div.wizard").wizard("goto", targetWizard, function() {
                otb.cleanMessages();
            })
        } else {
            $("div.wizard").wizard("first", function() {
                otb.cleanMessages();
            });
        }
        var hash = window.location.hash.replace(/\/.*/, "");
        setInterval(function(){
            if (window.location.hash.replace(/\/.*/, "") != hash) {
                hash = window.location.hash.replace(/\/.*/, "");
                var currentWizard = $("div.wizard").find("svg.ongoing").first().attr("id");
                targetWizard = hash.replace(/^#/, "");
                if ($("div.wizard").wizard("has", targetWizard) && targetWizard !== currentWizard) {
                    $("div.wizard").wizard("goto", targetWizard, function() {
                        otb.cleanMessages();
                    });
                }
            }
        }, 100);

    });
</script>
<%+footer%>
